hdx-python-api==5.5.3
hdx-python-country==3.0.8
hdx-python-utilities==3.0.8
psycopg2==2.9.3
pycountry==22.1.10
pycountry-convert==0.7.2
pyquery==1.4.3
python-Levenshtein==0.12.2
python-on-whales==0.37.0
questionary==1.10.0
requests==2.27.1
thefuzz==0.19.0
tqdm==4.62.3