[flake8]
ignore =
    # F632: use ==/!= to compare str, bytes, and int literals
    F632,
    # W503: Line break occurred before a binary operator
    W503,
    # E501: Line too long
    E501,
    # E203: whitespace before ':'
    E203,
    # E402: module level import not at top of file
    E402
exclude =
    .git,
    __pycache__,
    build,
    dist,
    node_modules,
    venv,
    dags/models/__init__.py

max-line-length = 88