h3==3.7.3
hdx-python-api==5.5.3
hdx-python-country==3.0.8
hdx-python-utilities==3.0.8
pycountry==22.1.10
pycountry-convert==0.7.2
pyquery==1.4.3
pyspark==3.2.1
python-Levenshtein==0.12.2
questionary==1.10.0
Shapely==1.8.0
thefuzz==0.19.0
