aiofiles==0.8.0
beautifulsoup4==4.10.0
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
h11==0.12.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
insta-scrape==2.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
priority==2.0.0
PySocks==1.7.1
python-dotenv==0.19.2
quart==0.16.2
requests==2.27.1
soupsieve==2.3.1
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
wsproto==1.0.0
