.ReactTable {
    border: none;
}

.ReactTable .rt-tbody {
    overflow-x: hidden;
    overflow-y: scroll;
}

.ReactTable .rt-tbody::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.ReactTable .rt-tbody::-webkit-scrollbar-track {
    border-left: 1px solid #00A99D;
}

.ReactTable .rt-tbody::-webkit-scrollbar-thumb {
    background-color: #99DDD8;
}

.ReactTable .rt-thead .rt-th {
    padding: 0.7rem 1rem;
    background: #99DDD8;
    font-weight: 600;
    border-right: 1px solid #00A99D;
    border-bottom: 1px solid #00A99D;
}

.ReactTable .rt-td {
    padding: 0.7rem 1rem;
}

.ReactTable .rt-tbody .rt-td {
    overflow-x: hidden;
    padding: 0.7rem 1rem;
    border-right: 1px solid #00A99D;
    border-bottom: 1px solid #00A99D;
}

.ReactTable .rt-thead {
    overflow-y: scroll;
    overflow-x: hidden;
}

.ReactTable .rt-thead::-webkit-scrollbar {
    background: #99DDD8;
}

.ReactTable .rt-thead::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.ReactTable .rt-thead::-webkit-scrollbar-track {
    border-radius: 0px;
    border-bottom: 1px solid #00A99D;
}

.ReactTable .rt-thead::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border-bottom: 1px solid black;
}