func-timeout==4.3.5
geojson==2.5.0
h3==3.7.3
hdx-python-api==5.5.3
moment==0.12.1
nest-asyncio==1.5.1
pandas==1.4.1
pyarrow==7.0.0
PySocks==1.7.1
pyspark==3.2.1
python-dotenv==0.17.1
python-Levenshtein==0.12.2
Quart==0.14.1
questionary==1.10.0
requests==2.27.1
Shapely==1.8.0
thefuzz==0.19.0
tqdm==4.62.3